<!DOCTYPE html>
<html>
	<head>
		<title>WWM - Dashboard</title>
		<meta name="google-signin-client_id" content="878193192072-cgl83u25orrhurjapo162hm3npg9801k.apps.googleusercontent.com">
		{% load static %}
		<link href="{%static "users/css/main.css"%}" rel="stylesheet">
	</head>
	<body>
		<!-- DASHBOARD -->
		<div class="main-container flex">
			<!-- HEADER MENU -->
			<div id="header-menu" class="row justify">
				<!-- LOGO AND LINKS -->
				<nav class="row">
					<ul class="row distribute vertical-center">
						<li id="logo">
							<img src="{%static "assets/logo.svg"%}"/>
						</li>
						<li><a href="/" class="nav-link">Dashboard</a></li>
						<li><a href="projects" class="nav-link">Projects</a></li>
						<li><a href="login" class = "nav-link" onclick="signOut();">Sign out</a></li>
					</ul>
				</nav>
			</div>
			<div class="row distribute">
				<div class="widget flex vertical-top">
					<h1>Recent Activity</h1>
					<div class="flex widget-content vertical-distribute">
					</div>
					<div class="flex widget-quick-access">
					</div>
				</div>
				<div class="widget flex vertical-top">
					<h1>Tasks</h1>
					<div class="flex widget-content vertical-top">
						{% for task in user.task_set.all %}
						<div class="row task">
							<div class="complete-button"></div>
							<p>{{task.name}}</p>
						</div>
						{% endfor %}
					</div>
					<div class="flex widget-quick-access">
						<a href="javascript:void(0)"><img src="{%static "assets/add-icon.svg" %}"/></a>
					</div>
				</div>
				<div class="widget flex vertical-top">
					<h1>Projects</h1>
					<div class="flex widget-content vertical-top">
						{% for project in user.project_set.all %}
						<div class="flex project">
							<div class="row justify">
								<h3>{{project.name}}</h3>
								<p>{{project.dueDate}}</p>
							</div>
							<div class="flex left progress">
								{% if project.progress >= 75 %}
									<div class="progress-bar" style="flex: 0 0 calc(100% * calc({{project.progress}}/100)); background-color: var(--green);">
									</div>
								{% elif project.progress >= 33 %}
									<div class="progress-bar" style="flex: 0 0 calc(100% * calc({{project.progress}}/100)); background-color: var(--yellow);">
									</div>
								{% else %}
									<div class="progress-bar" style="flex: 0 0 calc(100% * calc({{project.progress}}/100)); background-color: var(--red);">
									</div>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="flex widget-quick-access">
						<a href="javascript:void(0)" onclick="Modal('addProject')"><img src="{%static "assets/add-icon.svg" %}"/></a>
					</div>
				</div>
			</div>
		</div>
		<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
		</script>
		<script src="{% static "scripts/main.js" %}">
		</script>

		<script type="text/javascript">
			function signOut() 
			{
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
				  console.log('User signed out.');
				});
			 }
		</script>
	</body>
</html>
