<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/main.css"/>
	</head>
	<body>
		<!-- RECENT ACTIVTY -->
		<div>
		
		</div>

		<!-- TASKS -->
		<div>
			<ul>
				{%for task in tasks%}
				<li>{{task.id}} {{task.name}} <br> {{task.description}}</li>
				{%endfor%}
			</ul>
		</div>

		<!-- PROJECTS -->
		<div>
			<ul>
				{%for project in projects%}
				<li>{{project.id}} {{project.name}} <br> {{project.progress}}</li>
				{%endfor%}
			</ul>
		</div>	
		<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			//SIGNOUT
			if(typeof gapi == 'undefined')
			{
				init()
			}
			else if(typeof gapi.auth2 == 'undefined')
			{
				init()
			}
			function init()
			{
				gapi.load('auth2', function(){
					gapi.auth2.init(
						{client_id: '878193192072-cgl83u25orrhurjapo162hm3npg9801k.apps.googleusercontent.com'
						});
				});
			}
			function signOut() 
			{
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
				 	console.log('User signed out.');
					location.href = "/logout";
				});
			}
		</script>
		<a href="javascript:void(0)" onclick="signOut();">Sign out</a>
	</body>
</html>
