<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/css/main.css"/>
	</head>
	<body>
		<!-- RECENT ACTIVTY -->
		<div>
		
		</div>

		<!-- TASKS -->
		<div>
			<ul>
				{%for task in tasks%}
				<li>{{task.id}} {{task.name}} <br> {{task.description}}</li>
				{%endfor%}
			</ul>
		</div>

		<!-- PROJECTS -->
		<div>
			<ul>
				{%for project in projects%}
				<li>{{project.id}} - {{project.name}} 					
					(<a href="javascript:void(0)" onclick="leaveProjectTest({{project.id}})">Leave</a>
					{%if user == project.projectOwner %}
					| <a href="javascript:void(0)" onclick="deleteProjectTest({{project.id}})">Delete</a> 
						{% endif %}
					)<br>
					Progress: {{project.progress}}<br>
					Members:
					<ul>
						{%for member in project.members.all%}
						<li>{{member.firstName}} {{member.lastName}} - {{member.email}}
							{%if project.projectOwner == member %}
							(Owner)
							{% endif %}
							{%if user == project.projectOwner and member !=  user%}
							<a href="javascript:void(0)" onclick="removeMemberTest({{project.id}}, {{member.id}})"> (Remove Member) </a>
							{% endif %}
						</li>
						{%endfor%}
					</ul><br> 
					Due: {{project.dueDate}}<br>
					<a href="javascript:void(0)" onclick="addMemberTest({{project.id}},6)"> Add Member </a>
				</li>
				<br><br>
				{%endfor%}
			</ul>
		</div>	
		<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script>
			//SIGNOUT
			if(typeof gapi == 'undefined')
			{
				init()
			}
			else if(typeof gapi.auth2 == 'undefined')
			{
				init()
			}
			function init()
			{
				gapi.load('auth2', function(){
					gapi.auth2.init(
						{client_id: '878193192072-cgl83u25orrhurjapo162hm3npg9801k.apps.googleusercontent.com'
						});
				});
			}
			function signOut() 
			{
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
				 	console.log('User signed out.');
					location.href = "/logout";
				});
			}

			function addProjectTest()
			{
				$.post("/projects/add",
					{
						name: "Test Project",
						dueDay: 21,
						dueYear: 2019,
						dueMonth: 05
					}, function(data, status){
						location.href="";
					});

			}

			function deleteProjectTest(_projectID)
			{
				$.post("/projects/delete",
					{
						projectID: _projectID,
					},
					function(data, status){
						location.href="";
					});
			}

			function leaveProjectTest(_projectID)
			{
				$.post("/projects/leave",
					{
						projectID: _projectID,
					},
					function(data, status){
						location.href="";
					});
			}

			function addMemberTest(_projectID, _userID)
			{
				$.post("/projects/addMember",
					{
						projectID: _projectID,
						userID: _userID,
					},
					function(data, status){
						location.href="";
					});
			}

			function removeMemberTest(_projectID, _userID)
			{
				$.post("/projects/removeMember",
					{
						projectID: _projectID,
						userID: _userID,
					},
					function(data, status){
						location.href="";
					});
			}
			
		</script>
		<a href="javascript:void(0)" onclick="signOut();">Sign out</a>
		<a href="javascript:void(0)" onclick="addProjectTest();">Add project</a>
	</body>
</html>
