<!DOCTYPE html>
<html>
<head>
	<title>WWM - Tasks</title>
	{% load static %}
	<link href="{%static "users/css/main.css"%}" rel="stylesheet">
	<meta name="google-signin-client_id" content="878193192072-cgl83u25orrhurjapo162hm3npg9801k.apps.googleusercontent.com">
</head>
<body>
	<div class="main-container flex">
		<!-- HEADER MENU -->
		<div id="header-menu" class="row justify">
			<!-- LOGO AND LINKS -->
			<nav class="row">
				<ul class="row distribute vertical-center">
					<li id="logo">
						<img src="{%static "assets/logo.svg"%}"/>
					</li>
					<li><a href="/" class="nav-link">Dashboard</a></li>
					<li><a href="projects" class="nav-link">Projects</a></li>
					<li><a href="#" class = "nav-link" onclick="signOut();">Sign out</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous">
		</script>
		<script src="{% static "scripts/main.js" %}">
		</script>

		<script type="text/javascript">
			function signOut() 
			{
				var auth2 = gapi.auth2.getAuthInstance();
				auth2.signOut().then(function () {
				  console.log('User signed out.');
				});
			 }
		</script>
</body>
</html>