@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700');
/* MAIN CSS */
:root
{
	--screen-width: 1920;
	--screen-ratio: calc(100vw/var(--screen-width));
	--blue: #009ef1;
	--green: #A3CB38;
	--red: #EA2027;
	--yellow: #FFC312;
	--dark-blue: #118de0;
}

/* ANIMATIONS */
@keyframes jump
{
	
}

/* GENERAL STYLES */
body
{
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6
{
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

h1, h2, h3, h4, h5, h6,
p,
ul
{
	margin: 0;
	padding: 0;
}

a,
a:link,
a:visited,
a:active
{
	text-decoration: none;
	color: var(--blue);
	transition: .2s all;
}

a:hover
{
	color: var(--dark-blue);
}

ul
{
	list-style: none;
}

.nav-link
{
	font-family: 'Raleway', sans-serif;
	font-size: calc(30 * var(--screen-ratio));
	font-weight: 700;
}

.flex
{
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.left
{
	justify-content: flex-start;
}

.right
{
	justify-content: flex-end;
}

.distribute
{
	justify-content: space-around;
}

.justify
{
	justify-content: space-between;
}

.vertical-top
{
	align-content: flex-start;
	align-items: flex-start;
}

.vertical-center
{
	align-content: center;
	align-items: center;
}

.vertical-bottom
{
	align-content: flex-end;
	align-items: flex-end;
}

.vertical-distribute
{
	align-content: space-around;
	align-items: space-around;
}

.vertical-justify
{
	align-content: space-between;
	align-items: space-between;
}

.main-container
{
	width: 100vw;
}

.row
{
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 100%;
}

.row > *
{
	flex-basis: auto;
}

.widget
{
	height: calc(785 * var(--screen-ratio));
	width: calc(367.17 * var(--screen-ratio));
	border-radius: calc(12 * var(--screen-ratio));
	border: 3pt solid #009ef1;
	box-shadow: calc(10 * var(--screen-ratio)) calc(10 * var(--screen-ratio)) 0 calc(5 * var(--screen-ratio)) var(--blue);
	padding: calc(60 * var(--screen-ratio)) calc(67.5 * var(--screen-ratio));;
	color: var(--blue);
}

.widget h1
{
	font-size: calc(45 * var(--screen-ratio));
	color: var(--blue);
}

.widget-content,
.widget-quick-access
{
	flex: 0 0 100%;
}

.widget-content
{
	height: 88%;
	overflow-y: auto;
}

.widget-content > *
{
	flex: 0 0 100%;
	margin: calc(30 * var(--screen-ratio));
}

/* WIDGET CONTENT */
.project
{
	flex: 0 0 99%;
}

.project h3
{
	font-weight: 500;
}

.project .progress
{
	border: 1px solid var(--blue);
	border-radius: 50px;
	flex: 0 0 100%;
	height: calc(10 * var(--screen-ratio));
}

.project .progress-bar
{
	height: inherit;
	border-radius: inherit;
	background-color: var(--blue);
}


.widget-quick-access
{
	height: calc(45 * var(--screen-ratio));
}

.widget-quick-access img
{
	height: calc(45 * var(--screen-ratio));
	width: calc(45 * var(--screen-ratio));
	transition: .2s all;
}

.widget-quick-access img:hover
{
	filter: brightness(80%);
}

/* SPECIFIC STYLE */
#header-menu
{
	margin: calc(30 * var(--screen-ratio)) calc(80 * var(--screen-ratio));
}

#header-menu nav ul
{
	width: calc(555 * var(--screen-ratio));
/*	padding: 0 calc(80 * var(--screen-ratio)); */
}

#logo
{
	width: calc(105 * var(--screen-ratio));
}

/*Login page*/
#login-main-container
{
	width: 100vw;
	height: 100vh;
	background-color: var(--blue);

}

#login-bg
{
	position: absolute;
	width: 70vw;
	height: 90vh;
	margin-left: 15vw;
	margin-top: 5vh;
}

#login-square
{
	position: relative;
	background-color: white;
	width: 40vw;
	height: 50vh;
	margin-top: 25vh;
	margin-left: 30vw;
	border-radius: 3%;
	color: var(--blue);
}

#login-square h1
{
	text-align: center;
	font-size: 3vw;
}

#login-prof-icon
{
	width: 20vw;
	height: 24vh;
	margin-left: 10vw;
	margin-top: 5vh;
}

.login-google
{
	margin-left: 15.5vw;
}

/*Tasks page*/
#task-container, #project-container, #recent-container, #recent-category
{
	width: 70vw;
	min-height: 60vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
	border-radius: 4%;
	/*border: solid var(--dark-blue) 3pt;*/
}

#task-container h1, #project-container h1, #recent-title, .recent-title
{
	color: var(--dark-blue);
	font-size: 8vh;
	text-align: center;
	text-transform: uppercase;
}

.task-box, .project-box, .recent-box
{
	width: 60vw;
	height: 50vh;
	border: var(--blue) 2pt solid;
	border-radius: 3%;
	margin-top: 10vh;
	margin-left: 5vw;
	overflow-y: auto;
}

.task-title
{
	text-align: center;
	background-color: var(--blue);
	color: white;
	font-size: 3vh;
	font-weight: 600;
	padding-top: 0.5vh;
	padding-bottom: 0.5vh;
	border-bottom: solid 2pt var(--blue);
	text-transform: uppercase;
}

.task-button
{
	flex: 0 0 calc(45* var(--screen-ratio));
	height: calc(25 * var(--screen-ratio));
	cursor: pointer;

}

.task-task, .recent-activity
{
 /* margin-left: 1.5vw; */
 /*	margin-top: 2vh; */
	color: var(--dark-blue);
	font-size: 3vh;
	/* text-transform: uppercase; */
	/* list-style-type: circle; */
}

.recent-activity
{
	font-size: 3vh;
}

.recent-activity > a
{
	font-size: 80%;
	flex-basis: 100%;
}

.task-task-date, .recent-activity-date
{
	margin-left: 0.5vw;
	color: var(--dark-blue);
	font-size: 3.2vh;
	/* text-transform: uppercase;*/
	font-weight: 700;
}

.task-task-mod, .recent-activity-mod
{
	margin-left: 0.5vw;
	color: var(--dark-blue);
	font-size: 3.2vh;
	/* text-transform: uppercase;*/
	font-weight: 500;
	text-decoration: underline;
}

/*Project page*/
.project-box
{
	height: 30vh;
	padding: 0;
	position: relative;
}

.project-project-left, .project-project-right
{
	margin-left: 13vw;
	width: 20vw;
	display: inline-block;
	position: absolute;
	top: 20%;
	text-align: left;
}

.project-project-right
{
	margin-left: 37vw;
}

.project-project-text
{
	display: block;
	/* text-transform: uppercase;*/
	color: var(--dark-blue);
	font-weight: 400;
	font-size: 2.5vh;
	margin-top: 3%;
}

.project-project-text-title
{
	font-weight: 900;
}

.project-project-profile-icon
{
	width: 10vw;
	height: 10vw;
	margin-top: 7vh;
	margin-left: 2vw;
	position: absolute;
}


/*RecentAct page*/
#recent-category
{
	margin-top: 7vh;
	display: grid;
	position: absolute;
	width: 20vw;
	padding-left: 2vw;
	padding-top: 0;
	padding-bottom: 5vh;
	min-height: 15vh;
	max-height: 50vh;
}

#recent-category ul
{
	text-decoration: none;
	list-style: none;
	/* text-transform: uppercase;*/
	color: var(--dark-blue);
	font-size: 4vh;
	font-weight: 600;
}

.recent-category-category
{
	width: 15vw;
	display: block;
	text-align: left;
	margin-top: 5vh;
}

.recent-category-category-selected
{
	color: white;
	background-color: var(--dark-blue);
}

.recent-category-category:hover
{
	color:white;
	cursor: pointer;
	background-color: var(--dark-blue);
}

#recent-container
{
	display: grid;
	margin-left: 25vw;
	float: left;
	position: absolute;
}

.recent-box
{
	max-height: 30vh;
}

.recent-title
{
	font-size: 6vh;
	font-weight: 900;
	letter-spacing: 0.3vw;
}

.recent-buttons
{
	position: absolute;
	width: 50vw;
	margin-left: 5vw;
	height: 5vh;
	bottom: 1vh;
}

.recent-activity-button-ok, .recent-activity-button-check
{
	/* text-transform: uppercase;*/
	border: none;
	width: 10vw;
	color: white;
	border-radius: 10%;
	display: block;
	height: 5vh;
	font-size: 3vh;
	cursor: pointer;
	margin-left: 10vw;
	background-color: var(--blue);
}

.recent-activity-button-check
{
	margin-top: -5vh;
	margin-left: 30vw;
}

.relative
{
	position: relative;
}
