/* MAIN CSS */
:root
{
	--screen-width: 1280;
	--screen-ratio: calc(100vw/var(--screen-width));
	--blue: #009ef1;
}

body
{
	margin: 0;
}

.flex
{
	display: flex;
	flex-wrap: wrap;
}

.center
{
	justify-content: center;
	align-items: center;
	align-conten: center;
}

.distribute
{
	justify-content: space-around;
}

.justify
{
	justify-content: space-between;
}

.vertical-distribute
{
	align-items: space-around;
}

.vertical-justify
{
	align-items: space-between;
}

.main-container
{
	width: 100vw;
}

.row
{
	display: flex;
	flex-wrap: nowrap;
	flex-basis: 100%;
}

.row > *
{
	flex-basis: auto;
}

.widget
{
	width: calc(334.714 * var(--screen-ratio));	
	height: calc(600 * var(--screen-ratio));
	min-width: 334.714px;
	min-height: 600px;
	border-radius: calc(8 * var(--screen-ratio));
	border: calc(3 * var(--screen-ratio)) solid var(--blue);
	box-shadow: calc(11 * var(--screen-ratio)) calc(11 * var(--screen-ratio)) 0 calc(1 * var(--screen-ratio)) var(--blue);
}

@media (max-width: 1023px)
{
	:root
	{
		--screen-width: 475;
	}
	.row
	{
		flex-wrap: wrap;
	}
}
